* {
  //Needed as sanitize doesnt resets the paddings
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-shadow: none;
}

html {
  // 1Rem = 10px
  font-size: 62.5%;
}

body {
    font-family: $font-secondary;
    font-weight: 300;
}
